/*reset css -------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style css -------------------------*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}
@font-face{
  font-family: PPMori-Regular, sans-serif;
  src: url(font/PPMori-Regular.otf) format(.otf),
}

@font-face{
  font-family: Tomatis-Regular, sans-serif;
  src: url(font/Tomatis-Regular.ttf) format(.ttf),
}

html, body{
    height: 100%;
    color: #fff;
}

h1{
  font-size: 60px;
  font-weight:100;
  font-family: PPMori-Regular, sans-serif;
}

h2{
  font-size: 60px;
  font-family: Tomatis-Regular, sans-serif;
}

h3{
  font-size: 36px;
  font-family: PPMori-Regular, sans-serif;

}

h4{
  font-size: 24px;
  font-family: PPMori-Regular, sans-serif;
}

h5{
  font-size: 20px;
  font-weight:100;
  font-family: PPMori-Regular, sans-serif;
  padding-bottom: 20px;
}

p{
  font-size: 16px;
  font-family: PPMori-Regular, sans-serif;
}

h6{
  font-size: 14px;
  font-family: PPMori-Regular, sans-serif;
}

a{
  font-family: PPMori-Regular, sans-serif;
}

button{
  font-family: PPMori-Regular, sans-serif;
}


/* video background ----------------------------- */

.section--video{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    overflow: hidden;
    height: 100vh;

}

.video-background{
   position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* menu ----------------------------- */
.menu {
  width: 100vw;
  height: 10vh;
  background: #00000000;
  display: flex;
  position: absolute;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 0 0 20%;
}

.menu--logo{
  width: 100px;
  filter:drop-shadow(10px 10px 10px #555)
}

/* old menu ---------------------------
.navegation a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  font-weight: lighter;
  padding: 0  20px;
}
.cool-hover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #dfc1ee;
  transition: width .2s;
}

.cool-hover:hover::after {
  width: 100%;
  transition: width .2s;
}
-- */


/* intro ----------------------------- */

#welcome2{
  width: 90vw;
  height: 50vh;
/* background-color: black; */
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 150px 20% 20px 20%;
  position: relative;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* button styles */


.cta{
  display:flex;
  flex-wrap: wrap;
  gap: 50px;
}

.buttonIntro{
  width: auto;
  height: 40px;
  color: #000;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.buttonIntro:hover{
  background-color: #dfc1ee;
  transform: translateY(-2px);
}

#magazine{
  width: auto;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

#magazine:hover{
    background-color: #dfc1ee;
    color: #fff;
    border: none;
    transform: translateY(-2px);
  }


/* gallery ----------------------------- */

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  */

  #gallery-track {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.4rem;
    padding: 0rem;
    will-change: transform;
  }
  
  .card {
    height: 250px;
    overflow: hidden;
  
    & .card-image-wrapper {
      background-color: black;
      height: 135%;
      will-change: transform;
  
      & img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        object-fit: cover;
      }
    }
  } 
  
  .card :hover{
    & img {
        opacity: 0.99;
      }
  }


  #interview {
    /* background-color: black; */
    padding-top: 15%;
    margin-bottom: 5%;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    flex-wrap: wrap;
    display: none;
    width: 100vw;
    }


    #interviewName{
      padding: 25px 15% 25px 15%;

}

  #description{
    padding: 25px 15% 25px 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #description p, #description a {
    padding: 0 10px 25px 10px;
    color: #fff;
  }

  #description a:before{
    content: '@';
  }

  #galleryImage {
    background-size: cover;
    background-position: top;
    height: 60vh;
  }

  #interviewContent {
    padding: 25px 15% 25px 15%;
    width: 100%;
    height: auto;
  }

  #interviewContent div{
    margin-bottom: 50px;
    border-bottom: 0.1px solid #fff;
  }

  #interviewContent div p{
    padding-bottom: 25px;
  }

  .cta2{
    padding: 25px 15% 25px 15%;
    display:flex;
    flex-wrap: wrap;
    gap: 50px;
  }

  #back{
    width: auto;
    height: 40px;
    color: #000;
    font-size: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }
  
  #back:hover{
    background-color: #dfc1ee;
    transform: translateY(-2px);
  }

  @media only screen and (max-width: 1000px) {
    #gallery-track {
      grid-template-columns: repeat(2,1fr);
    }

    #welcome2 {
      margin-top: 20%;
      padding: 100px 5% 20px 5%;
      height: 50vh;
    }

  }

  @media only screen and (max-width: 600px) {
    #gallery-track {
      grid-template-columns: repeat(1,1fr);
    }

    #welcome2 {
      margin-top: 20%;
      padding: 100px 5% 20px 5%;
      height: 60vh;
    }

    .menu {
      position: fixed;
      z-index: 10;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    #interview{
      padding-top: 35%;
    }

    #galleryImage {
      height: 30vh;
    }

    #description > a, #description > p{
      flex: 75%;
    }
  }